sudo: false
language: node_js
services:
 - redis-server
node_js:
  - "0.12"
  - "0.10"
before_script: 
 - npm install -g codeclimate-test-reporter
 - npm install -g istanbul
script: istanbul cover -v test/run.js 
after_script:
 - codeclimate < coverage/lcov.info
addons:
 code_climate:
  repo_token: 8df1db9ce3b83822e3d97a72b57c3813495f22f3143965a5cdeb02fc6ef3732e
matrix:
 allow_failures:
  - node_js: 